<section class="register-form w-75 py-3">
  <h1 class="display-3 fw-bold mb-4">Register</h1>
  <form [formGroup]="regsterForm" (ngSubmit)="submitRegister(regsterForm)">
    <p class="alert alert-danger" *ngIf="msgRegsiter">{{ msgRegsiter }}</p>
    <div class="row gy-3 gx-1">
      <div class="col-12">
        <div class="input-data position-relative text-dark">
          <input
            id="name"
            type="text"
            class="form-control"
            autocomplete="off"
            placeholder=" "
            formControlName="name"
          />
          <label
            for="name"
            class="position-absolute top-50 start-0 translate-middle-y ms-3"
            >Name</label
          >
        </div>
        <div
          class="msg text-danger small"
          *ngIf="
            regsterForm.get('name')?.errors &&
            regsterForm.get('name')?.touched
          "
        >
          <p *ngIf="regsterForm.get('name')?.getError('required')">
            Name Required
          </p>
          <p *ngIf="regsterForm.get('name')?.getError('minlength')">
            MinLength 2 Char
          </p>
          <p *ngIf="regsterForm.get('name')?.getError('maxlength')">
            MaxLength 25 Char
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="input-data position-relative text-dark">
          <input
            id="email"
            type="email"
            class="form-control"
            autocomplete="off"
            placeholder=" "
            formControlName="email"
          />
          <label
            for="email"
            class="position-absolute top-50 start-0 translate-middle-y ms-3"
            >E-mail</label
          >
        </div>
        <div
          class="msg text-danger small"
          *ngIf="
            regsterForm.get('email')?.errors &&
            regsterForm.get('email')?.touched
          "
        >
          <p *ngIf="regsterForm.get('email')?.getError('required')">
            email Required
          </p>
          <p *ngIf="regsterForm.get('email')?.getError('email')">
            E-mail Format Invalid
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="input-data position-relative text-dark">
          <input
            id="password"
            type="password"
            class="form-control"
            autocomplete="off"
            placeholder=" "
            formControlName="password"
          />
          <label
            for="password"
            class="position-absolute top-50 start-0 translate-middle-y ms-3"
            >Password</label
          >
        </div>
        <div
          class="msg text-danger small"
          *ngIf="
            regsterForm.get('password')?.errors &&
            regsterForm.get('password')?.touched
          "
        >
          <p *ngIf="regsterForm.get('password')?.getError('required')">
            password Required
          </p>
          <p *ngIf="regsterForm.get('password')?.getError('minlength')">
            MinLength 8
          </p>
          <p *ngIf="regsterForm.get('password')?.getError('maxlength')">
            MaxLength 20
          </p>
          <p *ngIf="regsterForm.get('password')?.getError('pattern')">
          caractere and number 
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="input-data position-relative text-dark">
          <input
            id="rePassword"
            type="Password"
            class="form-control"
            autocomplete="off"
            placeholder=" "
            formControlName="rePassword"
          />
          <label
            for="rePassword"
            class="position-absolute top-50 start-0 translate-middle-y ms-3"
            >rePassword</label
          >
        </div>
        <div
          class="msg text-danger small"
          *ngIf="
            regsterForm.get('rePassword')?.errors &&
            regsterForm.get('rePassword')?.touched
          "
        >
          <p *ngIf="regsterForm.get('rePassword')?.getError('required')">
            rePassword Required
          </p>
          <p *ngIf="regsterForm.get('rePassword')?.getError('minlength')">
            MinLength 8
          </p>
          <p *ngIf="regsterForm.get('rePassword')?.getError('maxlength')">
            MaxLength 20
          </p>
          <p *ngIf="regsterForm.get('rePassword')?.getError('pattern')">
            caractere and number 
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="input-data position-relative text-dark">
          <input
            id="phone"
            type="number"
            class="form-control"
            autocomplete="off"
            placeholder=" "
            formControlName="phone"
          />
          <label
            for="phone"
            class="position-absolute top-50 start-0 translate-middle-y ms-3"
            >phone</label
          >
        </div>
        <div
          class="msg text-danger small"
          *ngIf="
            regsterForm.get('phone')?.errors && regsterForm.get('phone')?.touched
          "
        >
          <p *ngIf="regsterForm.get('phone')?.getError('required')">
            you must star with 010 and  number phone must be 11
          </p>
          <p *ngIf="regsterForm.get('phone')?.getError('min')">number phone must be 11</p>
        </div>
      </div>
    
     
    </div>
    <button
      type="submit"
      [class]="!loading?'btn btn-outline-secondary fw-semibold mt-3':'btn btn-outline-danger fw-semibold mt-3'"
      [disabled]="regsterForm.invalid"
    >
      <span *ngIf="!loading"> Registration</span>
      <span *ngIf="loading"
        >Waiting  <i class="fas fa-spinner fa-spin"></i
      ></span>
    </button>
  </form>
</section>
